.pokemon-list {
  width: 100%;
  &__text {
    margin-top: 10px;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    font-weight: 700;
    text-align: center;
    span {
      color: var(--accent-color);
    }
  }
  &__box {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: var(--card-gap);
  }
  &__buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    cursor: pointer;
    padding: 15px 30px;
    background-color: var(--accent-color);
    border-radius: 10px;
    outline: none;
    border: none;
    svg {
      height: 20px;
      width: 20px;
      fill: white;
    }
    &:disabled {
      background-color: var(--dark-accent-color);
    }
  }
  &__btn-left {

  }
  &__btn-right {
    svg {
      transform: rotate(180deg);
    }
  }
}