.error-page {
  height: calc(100% - var(--header-height));
  padding-top: 60px;
  background-color: #D93E30;
  &__container {
    height: 100%;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bg {
    position: relative;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 30%;
    width: 50%;
  }
  &__title {
    pointer-events: none;
    font-weight: 700;
    font-size: clamp(9.375rem, -0.852rem + 51.14vw, 37.5rem);
    color: rgba(1, 17, 38, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: .8;
  }
  &__text {
    margin-top: 20px;
    font-size: clamp(1.375rem, 0.966rem + 2.05vw, 2.5rem);
    font-weight: 700;
    color: #fff;
    text-align: center;
    span {
      color: #000;
    }
  }
  &__btn {
    cursor: pointer;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: clamp(1.25rem, 0.341rem + 4.55vw, 3.75rem);
    padding: 15px clamp(3.75rem, 3.295rem + 2.27vw, 5rem) 25px;
    background: #F2CB07;
    box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
  }
}