.loading-screen {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &__pokeball {
    height: 100px;
    width: 100px;
    animation: shake 0.75s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
    @keyframes shake {
      20% {
        transform: rotate(-10deg);
      }
      60% {
        transform: rotate(10deg);
      }
      80% {
        transform: rotate(0deg);
      }
    }
  }
  &__text {
    font-weight: 700;
    font-size: 24px;
  }
}