.team-page {
  padding: 20px 0;
  &__title {
    margin-top: 25px;
  }
  &__text {
    margin-top: 10px;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    font-weight: 700;
    text-align: center;
    span {
      color: var(--accent-color);
    }
  }
  &__team-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
}