.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--header-height);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__logo {

  }
  &__nav {
    display: flex;
    gap: 20px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__link {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  &__burger-btn {
    display: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 20px;
    @media (max-width: 768px) {
      display: block;
    }
    span {
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--dark-accent-color);
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
  }
}