.pokemon-page {
  padding: 20px 0;
  &__title {
    margin-top: 25px;
  }
}

.pokemon-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  height: 500px;
  @media (max-width: 960px) {
    height: 450px;
  }
  @media (max-width: 640px) {
    flex-direction: column;
    height: auto;
  }
  &__pokemon-id {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
    @media (max-width: 640px) {
      height: clamp(18.75rem, 6.25rem + 62.5vw, 31.25rem);
    }
    img {
      width: 60%;
    }
  }
  &__icons {
    position: absolute;
    display: flex;
    top: 5%;
    left: 5%;
    flex-direction: column;
    gap: 20px;
  }
  &__types {
    display: flex;
    gap: 10px;
  }
  &__type {
    text-transform: capitalize;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(38, 150, 255);
    color: #fff;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    border: 2px solid #F6F7F9;
    box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  }
  &__pokeball-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    filter: brightness(.5);
    transition: filter .5s;
    &_active {
      filter: brightness(1);
    }
  }
  &__name {
    position: absolute;
    text-transform: capitalize;
    bottom: 10%;
    font-size: 34px;
    color: #fff;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #F6F7F9;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
    h2 {
      font-size: 30px;
      text-align: center;
    }
  }
  &__box {
    row-gap: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item {
    width: calc(50% - 20px / 2);
    @media (max-width: 960px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  &__item-stat {
    @media (max-width: 960px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 10px;
    }
  }
  &__item-value {
    margin: 0 auto;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    @media (max-width: 960px) {
      font-size: 16px;
      width: auto;
      height: auto;
      border: none;
      margin: 0;
    }
  }
  &__value-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #000;
    border-radius: 50%;
    @media (max-width: 960px) {
      display: none;
    }
  }
  &__item-name {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    @media (max-width: 960px) {
      margin-top: 0;
    }
  }
  &__item-scale {
    @media (max-width: 960px) {
      background-color: #000;
      height: 3px;
      border-radius: 10px;
    }
  }
}

.pokemon-evolution {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 30px;
    text-align: center;
  }
  &__text {
    margin-top: 30px;
    font-size: 24px;
  }
  &__box {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--card-gap);
  }
}